@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Satoshi', sans-serif;
}

/* body {
  font-family: 'Inter', sans-serif;
  min-height: 100%;
} */


body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  margin-top: auto;
}

.logo {
  /* font-family: 'Telma', cursive; */
  font-family: 'Kalam', cursive;
}

input {
  outline: none;
}